.titleStyle{
    margin-left: 10px;
    font-size: 18px;
    font-weight: 700;
}

.headingGroup{
    display: flex;
    align-items: center;
}

.padding{
    padding: 10px 0px;
}

.helloText{
    font-weight: 500;
    margin-top: 10px;
}

.mainComponent{
    padding: 20px;
    background-color: white;
    border: none;
    border-radius: 20px;
}